<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../scss/navbar.css">
  <title>Financial Apps</title>
</head>
<body>
  <div class="navbar">
    <div class="navbar__box">
      <div class="navbar__box-user">
        <div class="navbar__box-user-circle"></div>
        <p class="navbar__box-user-name">-</p>
      </div>
      <div class="navbar__box-menu">
        <div class="navbar__box-menu-group">
          <img class="navbar__box-menu-group-img" src="../images/white-home-logo.png">
          <p class="navbar__box-menu-group-text" onclick="setRoute('home')">Home</p>
        </div>
        <div class="navbar__box-menu-group">
          <img class="navbar__box-menu-group-img" src="../images/white-income-logo.png">
          <p class="navbar__box-menu-group-text" onclick="setRoute('incomes')">Incomes</p>
        </div>
        <div class="navbar__box-menu-group">
          <img class="navbar__box-menu-group-img navbar__box-menu-group-img_top-space" src="../images/white-expenses-logo.png">
          <p class="navbar__box-menu-group-text" onclick="setRoute('expenses')">Expenses</p>
        </div>
      </div>
      <div class="navbar__box-bottom">
        <div class="navbar__box-bottom-version">
          <p>Version 1.1</p>
        </div>
        <!-- <div class="navbar__box-bottom-logout">
          <img class="navbar__box-bottom-logout-img" src="../images/red-logout.png">
          <p class="navbar__box-bottom-logout-text">Logout</p>
        </div> -->
      </div>
    </div>
  </div>
</body>

<script type="text/javascript" src="../../index.js"></script> 
<script type="text/javascript">
  
  function setUserName() {
    let name = globalUserInfo.name
    let elementName = document.getElementsByClassName('navbar__box-user-name')[0]
    elementName.innerHTML = name
  }

  setUserName()

  function setRoute(param) {
    globalRoute = param
    setGlobalRoute()
  }

</script>

</html>