@mixin font($size, $lineheight, $bold, $color) {
  font-size: $size;
  line-height: $lineheight;
  font-weight: $bold;
  color: $color;
}

body {
  margin: 0px;
}

p {
  margin: 0px;
}

.history {
  font-family: 'Nunito Sans';
  &__table {
    width: 100%;
    &-header {
      display: flex;
      margin-top: 10px;
      padding: 0px 10px;
      border: 1px solid #F2F2F2;
      background-color: #DCDCDE;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &-text {
        flex: 0.25;
        @include font(16px, 24px, 800, #4D4D4D);
      }
    }
    &-body {
      max-height: 130px;
      overflow: overlay;
      border-bottom: 1px solid #F2F2F2;
      border-left: 1px solid #F2F2F2;
      border-right: 1px solid #F2F2F2;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      // box-shadow: 0px 9px 18px 0px rgb(159 159 159 / 36%);
      &-row {
        display: flex;
        padding: 0px 10px;
        background-color: #FFFFFF;
        &-text {
          transform: translateY(15%);
          flex: 0.25;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 20px;
          height: 30px;
          align-items: center;
          &_plus {
            color: green;
          }
          &_minus {
            color: red;
          }
        }
      }
    }
  }
}